.Login {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0;
  background: url("~@/imgaes/bg_01.jpg") no-repeat;
  background-size: 100% 100%;

  .password-content {
    width: 604px;
    margin: 338px auto 0 auto;
    padding: 40px 0;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    display: flex;
    // display: -webkit-box;
    // display: -ms-flexbox;
    align-content: center;
    flex-wrap: wrap;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    // flex-direction:column;
    // -webkit-box-orient: vertical;
    // -webkit-box-direction: normal;
    // -ms-flex-direction: column;
    justify-content: center;

    .password-tab {
      width: 525px;
      height: 99px;
      border: 1px solid rgba(153, 153, 153, 1);
      border-radius: 49px;
      overflow: hidden;
      margin: 40px 0;
      display: flex;
      align-items: center;

      // display: flex;
      // display: -webkit-box;
      // display: -ms-flexbox;
      // align-content: center;
      // -webkit-box-align: center;
      // -ms-flex-align: center;
      .tab-icon {
        height: 100%;
        width: 102px;
        flex: 0 0 102px;
        display: flex;
        align-items: center;
        justify-content: center;

        // display: -webkit-box;
        // display: -ms-flexbox;
        // align-content: center;
        // -webkit-box-align: center;
        // -ms-flex-align: center;
        // justify-content: center;
        img {
          width: 33px;
          height: 34px;
        }
      }

      .tab-input {
        flex: 1;
        height: 100%;

        input {
          list-style: none;
          padding: 0;
          margin: 0;
          padding-bottom: 4px;
          width: 100%;
          height: 100%;
          border: 0;
          font-size: 34px;
          color: #999999;

        }
      }
    }

    .vertify-code {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px;

      input {
        width: 100%;
        height: 80px;
        margin-right: 20px;
        border-radius: 40px;
        border: 1px solid rgba(153, 153, 153, 1);
        outline: none;
        padding-left: 20px;
      }
    }

    .password-tab-but {
      margin-top: 70px;
      background: linear-gradient(90deg, rgba(48, 203, 255, 1), rgba(16, 154, 252, 1));
      color: rgba(255, 255, 255, 1);
      font-size: 36px;
      text-align: center;
      justify-content: center;
    }

    .password-tab-but:active {
      background: #cccccc;
    }
  }

  input::-webkit-input-placeholder {
    color: #999999;
    font-size: 34px;
  }

  input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999999;
    font-size: 34px;
  }

  input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999999;
    font-size: 34px;
  }

  input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #999999;
    font-size: 34px;
  }
}
