.main {
  padding: 0;
  margin: 0;
  .hread {
    .top {
      img {
        width: 20px;
        height: 35px;
        float: left;
        margin-top: 30px;
        margin-left: 22px;
      }
      width: 100%;
      height: 95px;
      text-align: center;
      line-height: 95px;
      background: rgba(43, 133, 228, 1);
      color: #ffffff;
      font-size: 36px;
    }
  }
  .failed {
    width: 750px;
    .img-fa {
      width: 750px;
      text-align: center;
      margin-top: 80px;
      margin-bottom: 57px;
      img {
        width: 216px;
        height: 173px;
      }
    }
    .font-fa {
      width: 750px;
      text-align: center;
      span {
        font-size: 40px;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
      }
      p {
        font-size: 28px;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        color: rgba(153, 153, 153, 1);
        margin: 0;
        margin-top: 45px;
      }
    }
    .but-fa {
      width: 750px;
      text-align: center;
      margin-top: 130px;
      div {
        display: -ms-inline-grid;
        width: 320px;
        height: 80px;
        margin-bottom: 10px;
        border: 1px solid rgba(43, 133, 229, 1);
        border-radius: 4px;
        display: inline-block;
        line-height: 80px;
        font-size: 32px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: rgba(43, 133, 229, 1);
      }
    }
  }
  .success {
    width: 750px;
    .title {
      font-size: 50px;
      font-family: MicrosoftYaHei;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      margin-top: 135px;
      display: flex;
      margin-left: 183px;
      img {
        width: 68px;
        height: 68px;
        margin-right: 22px;
      }
    }
    .pages {
      padding-left: 25px;
      .main-ul {
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: rgba(222, 222, 222, 1);
        padding: 0;
        margin: 0;
        list-style: none;
        margin-top: 90px;
        width: 700px;
        .main-li-title {
          margin-top: 24px;
          .title-font {
            font-size: 24px;
            font-family: MicrosoftYaHei;
            font-weight: 400;
            color: rgba(153, 153, 153, 1);
          }
        }
        .main-li {
          display: flex;
          margin-top: 11px;
          margin-bottom: 20px;

          .font-name {
            width: 130px;
            font-size: 28px;
            font-family: MicrosoftYaHei;
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
            margin-right: 40px;
          }
          .font-page {
            width: 550px;
            font-size: 28px;
            font-family: MicrosoftYaHei;
            font-weight: 400;
            color: rgba(153, 153, 153, 1);
          }
        }
      }
    }
    .but {
      width: 750px;
      text-align: center;
      display: flex;
      margin-top: 65px;
      .return {
        width: 320px;
        height: 80px;
        border: 1px solid rgba(43, 133, 229, 1);
        border-radius: 4px;
        font-size: 32px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: rgba(43, 133, 229, 1);
        line-height: 80px;
        margin-left: 200px;
      }
      .examine {
        width: 320px;
        height: 80px;
        background: rgba(43, 133, 229, 1);
        border-radius: 4px;
        font-size: 32px;
        line-height: 80px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  .tishi{
    position: fixed;
    top: 95px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #999999;
    opacity: 0.8;
    .promptBox{
      width: 550px;
      height: 237px;
      margin: 350px 100px; 
      border: 1px solid #cccccc;
      border-radius: 10px;
      background: #ffffff;
      .title{
        width: 100%;
        height: 73px;
        line-height: 73px;
        text-align: center;
        font-size: 30px;
        color:#666;;
        border-bottom: 1px solid #cccccc;
      }
      .confirm{
        font-size: 30px;
        height: 80px;
        color: red;
        line-height: 80px;
        text-align: center;
        border-bottom: 1px solid #cccccc;
      }
      .cancel {
        font-size: 30px;
        height: 80px;
        color: #9b9b9b;
        line-height: 80px;
        text-align: center;
        border-bottom: 1px solid #cccccc;
      }
    }
  }
}
